# -*- coding: utf-8 -*-
# vim: set softtabstop=2 tabstop=2 shiftwidth=2 expandtab autoindent ft=jinja syntax=yaml:

{## Start with defaults from defaults.sls ##}
{% import_yaml 'nomad/defaults.yaml' as default_settings %}

{##
Add any overrides based on CPU architecture.
##}
{% set cpu_arch_map = salt['grains.filter_by']({
        'armv6l': {
            "arch": 'arm'
        },
        'armv7l': {
            "arch": 'arm'
        },
        'x86_64': {
            "arch": 'amd64'
        }
  }
  , grain="cpuarch"
  , merge=salt['pillar.get']('nomad'))
%}
{% do default_settings.nomad.update(cpu_arch_map) %}

{##
Add any overrides based on operating system.
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
            "git_pkg": 'git',
            "make_pkg": 'make',
            "gcc_pkg": 'gcc'
        },
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('nomad'))
%}
{% do default_settings.nomad.update(os_family_map) %}

{## Merge in nomad:* pillar ##}
{% set nomad = salt['pillar.get'](
        'nomad',
        default=default_settings.nomad,
        merge=True
    )
%}
